<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="selectCategoryList">
	SELECT
	        CATEGORY_NO
	      , CATEGORY_NAME
	  FROM CATEGORY	
</entry>
<entry key="increaseCount">
	UPDATE BOARD
	   SET COUNT = COUNT + 1
	 WHERE BOARD_NO = 'B' || ?
	   AND STATUS = 'Y'
</entry>
<entry key="selectBoard">
	SELECT
	        TO_NUMBER(SUBSTR(BOARD_NO,2)) "BOARD_NO"
	      , BOARD_TITLE
	      , BOARD_CONTENT
	      , NICKNAME
	      , CATEGORY_NAME
	      , TO_CHAR(CREATE_DATE, 'YY/MM/DD HH:MI') AS "CREATE_DATE"
	      , COUNT
	      , HASHTAG
	      , USER_NO
	      , (
	          SELECT COUNT(*)
	            FROM REPLY
	           WHERE REF_BNO = B.BOARD_NO
	             AND STATUS = 'Y'
	        ) AS "REPLY_COUNT"
	  FROM BOARD B
	  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
	  JOIN CATEGORY USING (CATEGORY_NO)
	 WHERE BOARD_NO = 'B' || ?
</entry>
<entry key="insertLike">
	INSERT INTO LIKES
	VALUES 
	(
	  ?
	, 'B' || ?
	)  
</entry>
<entry key="deleteLike">
	DELETE LIKES
	 WHERE USER_NO = ?
	   AND BOARD_NO = 'B' || ?
</entry>
<entry key="checkLike">
	SELECT BOARD_NO
	FROM LIKES
	WHERE USER_NO = ?
	AND BOARD_NO = 'B' || ?
</entry>
<entry key="insertBook">
	INSERT INTO BOOKMARK
	VALUES
	(
	  ?
	, 'B' || ?
	)
</entry>
<entry key="deleteBook">
	DELETE BOOKMARK
	WHERE USER_NO = ?
	  AND BOARD_NO = 'B'|| ?
</entry>
<entry key="checkBook">
	SELECT BOARD_NO
	FROM BOOKMARK
	WHERE USER_NO = ?
	AND BOARD_NO = 'B' || ?
</entry>
<entry key="ajaxBoardList">
	SELECT
	        TO_NUMBER(SUBSTR(BOARD_NO,2)) "BOARD_NO"
	      , CATEGORY_NAME
	      , BOARD_TITLE
	      , NICKNAME
	      , COUNT
	      , TO_CHAR(CREATE_DATE, 'YY/MM/DD') AS "CREATE_DATE"
	      , (
	          SELECT COUNT(*)
	            FROM REPLY
	           WHERE REF_BNO = B.BOARD_NO
	             AND STATUS = 'Y'
	       ) AS "REPLY_COUNT"
	       , (
	         SELECT COUNT(*)
	           FROM LIKES L
	         WHERE L.BOARD_NO = B.BOARD_NO
	       ) AS "LIKE_COUNT"
	  FROM BOARD B
	  JOIN CATEGORY USING (CATEGORY_NO)
	  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
	 WHERE BOARD_TYPE = 1
	   AND B.STATUS = 'Y'
	 ORDER
	    BY BOARD_NO DESC
</entry>
<entry key="categoryBoardList">
	SELECT
	        TO_NUMBER(SUBSTR(BOARD_NO,2)) "BOARD_NO"
	      , CATEGORY_NAME
	      , BOARD_TITLE
	      , NICKNAME
	      , COUNT
	      , TO_CHAR(CREATE_DATE, 'YY/MM/DD') AS "CREATE_DATE"
	      , (
	          SELECT COUNT(*)
	            FROM REPLY
	           WHERE REF_BNO = B.BOARD_NO
	             AND STATUS = 'Y'
	       ) AS "REPLY_COUNT"
	       , (
	         SELECT COUNT(*)
	           FROM LIKES L
	         WHERE L.BOARD_NO = B.BOARD_NO
	       ) AS "LIKE_COUNT"
	  FROM BOARD B
	  JOIN CATEGORY USING (CATEGORY_NO)
	  JOIN MEMBER ON (BOARD_WRITER = USER_NO)
	 WHERE BOARD_TYPE = 1
	   AND B.STATUS = 'Y'
       AND CATEGORY_NO = ?
	 ORDER
	    BY BOARD_NO DESC
</entry>
<entry key="selectReplyList">
	SELECT
	        REPLY_NO
          , USER_NO
	      , REPLY_CONTENT
	      , NICKNAME
	      , TO_CHAR(CREATE_DATE, 'YY/MM/DD HH:MI') "CREATE_DATE"
	  FROM REPLY R
	  JOIN MEMBER ON (REPLY_WRITER = USER_NO)
	 WHERE R.STATUS = 'Y'
	   AND REF_BNO = 'B' || ?
	 ORDER
	    BY REPLY_NO DESC
</entry>
<entry key="deleteReply">
	UPDATE REPLY
	   SET STATUS = 'N'
	 WHERE REPLY_NO = ?
</entry>
<entry key="insertReply">
	INSERT 
	  INTO REPLY
	(
	  REPLY_NO
	, REPLY_CONTENT
	, REF_BNO
	, REPLY_WRITER
	)
	VALUES
	(
	  SEQ_RPLNO.NEXTVAL
	, ?
	, 'B' || ?
	, ?
	)
</entry>
<entry key="reportBoard">
	INSERT
	  INTO REPORT
	  (
	    REPORT_NO
	  , GUILTY
	  , REPORT_CONTENT
	  , BOARD_NO
	  , REPORT_UNO
	  , REPORTED_UNO
	  )
	  VALUES
	  (
	    SEQ_REPNO.NEXTVAL
	  , ?
	  , ?
	  , ?
	  , ?
	  , ?
	  )
</entry>
<entry key="deleteBoard">
	UPDATE BOARD
	   SET STATUS = 'N'
	 WHERE BOARD_NO = 'B'|| ?
</entry>
</properties>